ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgoldenrod;
  margin-bottom: 2rem ;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #111111;
  font-family: monospace;
  font-size: 1rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
